  @font-face{
    font-family: FeFCrm2;
    src: url("../fonts/IM_Fell_French_Canon/FeFCrm2.ttf");
}

.homeTitle {
    color: #FFF;
    font-family: FeFCrm2;
    font-size: 30pt;
    letter-spacing: 2px;
    line-height: 100px;
    position: absolute;
    height: 65vh;
    width: 37vw;
    top: 200px;
    left: 250px;
}

.homeDesc {
    color: #FFF;
    font-family: FeFCrm2;
    font-size: 15pt;
    line-height: normal;
    position: absolute;
    height: 30vh;
    width: 35vw;
    top: 500px;
    left: 250px;
}

.homeImg {
    position: absolute;
    height: 65vh;
    width: 30vw;
    top: 180px;
    left: 1100px;
    transition: 0.3s;
}

.homeImg:hover {
    transition: 0.3s;
    top: 160px;
}

.map {
    justify-content: left;
    position: absolute;
    top: 200px;
  }

.mapInfo {
    font-family: FeFCrm2;
    color: #000;
    position: absolute;
    height: 65vh;
    width: 14.5vw;
    top: 220px;
    left: 1350px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1;
}

.mapInfoArea {
    position: absolute;
    height: 65vh;
    width: 18vw;
    background: url("budge.png") no-repeat center center;
    background-size: cover;
    border: solid 5px #000000;
    top: 200px;
    left: 1314px;
}

.locDesc {
    font-size: 10pt;
}

#map {
    left: 250px;
    height: 65vh;
    width: 55%;
    border: solid 5px #000000;
}

a {
    color: #3d333c;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

body {
    margin: auto;
    overflow-x: hidden;
}

button {
    border: none;
    color: rgb(0, 0, 0);
    padding: 25px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: FeFCrm2;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}

p {
    font-family: FeFCrm2;
    font-size: 14pt;
    line-height: 25px;
    text-align: justify;
}

.btn1 {
    background: #f0bb0b; 
    color: #000;
    transition: 0.3s;
  }
  
.btn1:hover {
    background-color: #f3d161;
    color: #000;
  }

main {
    background: url("bg.png") no-repeat center center;
    background-size: cover;
    height: 92vh;
}

.spacing {
    width: 8vw;
}

.spacing2 {
    width: 70vw;
}

nav {
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: FeFCrm2;
    background: #ffffff;
    height: 8vh;
}
    
.nav-list {
    list-style: none;
    display: flex;
    position: absolute;
    top: 5vh;
    right: 0;
    width: 8vw;
    height: 93vh;
    background: #ffffff;
    flex-direction: column;
    align-items: right;
    justify-content: space-around;
    transform: translate(100%);
    transition: 0.3s ease-in;
}

.nav-list.active {
    transform: translateX(0);
}

.nav-list li {
    letter-spacing: 1px;
    margin-left: 0;
    opacity: 0;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu {
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #3d333c;
    margin: 8px;
    transition: 0.3s;
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}